body{
    background-color: #EDEDED;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

header {
    background-color: #444444;
}


nav a:link{
    color: #EDEDED;
}

nav a:visited {
    color: #EDEDED;
}

nav a:hover {
    color: #DA0037;
}

nav a:active {
    color: red;
}

.banner {
    width: 100%
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
}

ul {
    line-height: 1.5;
}

.footer {
    background-color: #171717;
    color: #EDEDED;
}
