body{
    background-color: #EDEDED;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    padding: 50px;
}

header {
    background-color: #444444;
}

.separador {
    width: 100%;
    height: auto;
}

nav a:link{
    color: #EDEDED;
}

nav a:visited {
    color: #EDEDED;
}

nav a:hover {
    color: #DA0037;
}

nav a:active {
    color: red;
}

.footer {
    background-color: #171717;
    color: #EDEDED;
}
