* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EDEDED;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
}

header {
    background-color: #444444;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a:link{
    color: #EDEDED;
}

nav a:visited {
    color: #EDEDED;
}

nav a:hover {
    color: #DA0037;
}

nav a:active {
    color: red;
}

.banner {
    width: 100%
}

main {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 12px;
}

h2, h3 {
    margin: 12px;
}

.lista1, .lista2 {

    margin: 40px;
}

p {
    line-height: 1.5;
    margin: 12px;
}

ul {
    line-height: 1.5;
}

.footer {
    background-color: #171717;
    color: #EDEDED;
}
